
<div class="container">
  <div class="jumbotron jumbotron-fluid edina-header">
     <div class="header-container">
       <!-- <div class="header-childern "> -->
          <!-- <svg-icon class="logo"   src="../assets/iconTest.svg" ></svg-icon> -->
       <!-- </div> -->
       <div class="header-childern d-flex justify-content-center">
          <svg-icon class="logo" src="../assets/logo.svg" ></svg-icon>
          <h1 class="display-4 edina-Title">Edina Market Cleaners</h1>
          <svg-icon class="logo" src="../assets/logo.svg" ></svg-icon>
       </div>
        <!-- <h1 class="display-4 edina-Title">Edina Market Cleaners</h1> -->
        <!-- <div class="header-childern "> -->
            <!-- <svg-icon class="header-childern logo"  src="../assets/iconTest.svg" ></svg-icon> -->
        <!-- </div> -->
        
     </div>
      <div>
        <h3 class=" text-center mt-4 slogan">Let us handle your dirty laundry</h3>    
      </div>
     
  </div>
      <div class="d-flex justify-content-center text-center timing-header">
        <div class="mr-5">
         
           <h2>Drop off <span style=" font-style: italic;">before</span> {{dropOff}}</h2>  
           <!-- <h4></h4> -->
        </div>
        <div class="">
         
            <h2>Pick up <span style=" font-style: italic;">after</span> {{pickUp}}</h2>
            <!-- <h4></h4> -->
            <p>Next Business Day</p>
             
        </div>
      
         
          
      </div>
 
    <div class="card-deck">
      <div class="card my-2 price-card" *ngFor="let option of services;" >
          <div class="card-body mb-4">
              <div class="price-card-icon">
                <svg-icon [src]="option.icon" class="icon"></svg-icon>
              </div>
              <div class="price-card-title">
                <h2 class="card-title">{{option.service}}</h2>
              </div>
              <table *ngIf="option.options" class="table table-striped">
                <tbody>
                  <tr  *ngFor="let item of option.options;">
                    <td class="edina-td-left">{{item.Title}}</td>
                    <td class="edina-td-right">{{item.Price | currency}}</td>
                  </tr>
                </tbody>
              </table>
          </div>

               <!-- <div class="price-card-price">
                 <div *ngIf="option.min">
                   <b>{{option.min | currency }} min </b><span class="price-description"> {{option.price | currency }} {{option.description}}</span>
                </div>
                 <span *ngIf="!option.min"><b>{{option.price | currency }}</b> <span *ngIf="option.description" class="price-description">{{option.description}}</span></span>
               </div> -->
            <!-- </div> -->
      
      </div>
    </div>
   
</div>
<div class="credits">
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
    <!-- <div *ngFor="let option of services;" class="card"> -->
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <!-- <div class="card-body mb-4"> -->
        <!-- <h5 class="card-title">{{option.service}}</h5> -->
        <!-- <p>{{option.description}}</p> -->
        <!-- <img src="option.icon" alt=""> -->
        <!-- <span>{{option.price}}</span> -->
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <!-- </div>
 
</div> -->
